{
	flex-wrap: wrap;
	box-sizing: border-box;
	font-family: Montserrat;
	
}

body{
	flex-wrap: wrap;
	min-width: 250px;
	margin: auto;
	display: block;
	text-align: center;
}

header, footer, .btn{
	
	flex-wrap: wrap;
	background-color: #32618d;
}

input{
	flex-wrap: wrap;
	border-radius: 5px;
	text-align: center;
	font-size: 10px;
	margin: 10px;
	width: 100%;
	height: 30px;
}

.btn{
	
	flex-wrap: wrap;
	color: white;
	font-size: 10px;
	height: 30px;
	width: 120px;
	border-radius: 5px;
	margin-top: 10px;
	float: right;
}

.menu{
	flex-wrap: wrap;
	font-size: 12px;
	color: #32618d;
	margin: 15px;
	padding: 5px;
	float: left;
	text-decoration: none;
}

.menu:{
	flex-wrap: wrap;
	text-decoration: underline;
}

.foto{
	flex-wrap: wrap;
	width: 100%;
}

.oferta{
	flex-wrap: wrap;
	font-size: 20px;
	padding: 10px;
}

.oferta{
	flex-wrap: wrap;
	color: #32618d;
}

.t-1{
	flex-wrap: wrap;
	font-size: 12px;
	margin: 5px;
	padding-top: 5px;
}

.t-2{
	flex-wrap: wrap;
	font-size: 10px;
	color: #cdcdcd;
	margin: 5px;
}

.linea{
	flex-wrap: wrap;
	color: green;
	font-size: 8px;
	padding-bottom: 2px;
}

.seccion{
	flex-wrap: wrap;
	width: 20%;
	margin-right: 2.5%;
	margin-left: 2.5%;
	float: left;
	border: solid 1px #cdcdcd;
	border-radius: 5px;
	overflow: hidden;
}
/*.cont{
flex-wrap: wrap;
	width: 100%;
}*/
.centrar{
	flex-wrap: wrap;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.cont{
	flex-wrap: wrap;
	background-color: #8d9ebe;
	color: white;
}
.logo{
	flex-wrap: wrap;
}
footer{
	flex-wrap: wrap;
	color: #ecb60e;
	padding: 20px;
	font-size: 12px;
}